* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;


}
h3{
  font-size: 1.17rem;
  font-weight: bold;
  margin-left: 2%;
}
h2{
  font-weight: bold;
  font-size: 1.5rem;
}
body {
   background-color: #f2f4f3;
   color: #000;

}
p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;

}
li{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120%;
}
/* NAVBAR */
.navbar{
  background-color: #f2f4f3;
}
.dropdown-item:hover{
  background-color: #ddd;
}
.dropdown-item{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80%;
}
#logoa{
  width: 20%;
}
.linav{
  width: 25%;
  font-weight: bold;
  font-size: 100%;
}
.navp{
  width: fit-content;
  margin: auto;
  font-size: 17px;
}
#ul1{
  margin: 0;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 425px) {
  #logo{
    width: 80%;
  }
  .nava{
    width: fit-content;
  }
  .linav{
    width: fit-content;
  }
  .arregloa{
    font-size: 70%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  #logo{
    width: 40%;
  }
  .linav{
    width: fit-content;
  }
}
@media (min-width:769px) and (max-width:1024px) {
  #logo{
    width: 36%;
  }
}
@media (min-width:1025px) {
  #logo{
    width: 30%;
  }
}
.navbar-nav .dropdown-menu {
    position: absolute;
    float: unset;
}
.dropdown-menu{
  background-color: #f2f4f3;
}
@media (min-width:770px){
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
}
/* Fin Navbar */


.contenedor_pregunta{
  display: flex;
}
.input{
  margin-right: 1%;
}
.home{
  font-family: 'Josefin Sans', sans-serif;
  margin-top:2%;
}
.check{
  text-align: justify;
}
.satisfy{
  font-family:'Satisfy', cursive;
  font-size: 25px;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
}
.propuesta{

  list-style: none;

}
.propuesta li{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 3%;
  font-size: 20px;
  text-align: left;
  margin-right: 10%;
}
.josefin{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.enlaces{
  background-color: #f2f4f3;
  width: 100%;
  display:none;
}
.central div img{
  width:50%;
  margin-left: 25%;
}

.logo:hover .enlaces{
  display: block;
}
.subnav-content a:hover {background-color: #ddd;
}

.a:hover .subnav-content {display: block;
}


.logo{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.enlaces button{
  background-color: #000;

  text-align: center;
  border-bottom: 1px solid #f2f4f3;
}
.botonMenu:checked~.enlaces{
  margin-left:  0;
}
.enlaces .subnav-content{
  display: flex;
  flex-direction: column;
  width:100%;
  display: none;


}
.enlaces .a{
  background-color: #f2f4f3;
}
.enlaces .subnavbtn {

    text-decoration: none;
    font-size: 18px;
    color: #000;
    background-color: #f2f4f3;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: right;
    outline: none;
}

.test{
  margin-bottom: 2%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/img1.1.png');
  background-size: contain;
  border-radius: 1%;
}
.test h1{
  text-align: center;
}
.test h1 a{
  text-decoration: none;
  color:#000;
  font-size: 100%;
  font-weight: bold;
}
@media (max-width: 370px) and (min-width: 0px) {
  .test{
    width: 76%;
    margin: auto;
    margin-bottom: 1%;
    height: 8rem;
  }
  #logo{
    width: 75%;
  }
  .test h1 a{
    font-size: 57%;
  }
}
@media (max-width: 380px) and (min-width: 375px) {
  .test{
    width: 75%;
    margin: auto;
    height:8rem;
  }
  #logo{
    width: 70%;
  }
  .test h1 a{
    font-size: 60%;
  }
}
@media (max-width: 375px) and (min-width: 370px) {
  .test{
    width: 74%;
    margin: auto;
    height:8rem;
  }
  #logo{
    width: 70%;
  }
  .test h1 a{
    font-size: 60%;
  }
}
@media (max-width: 425px) and (min-width: 380px) {
  .test{
    width: 80%;
    margin: auto;
    height:9.7rem;
  }
  #logo{
    width: 65%;
  }
  .test h1 a{
    font-size: 63%;
  }
}
@media (max-width: 465px) and (min-width: 426px) {
  .test{
    width: 69%;
    margin: auto;
    height:9rem;
  }
  #logo{
    width: 60%;
  }
  .test h1 a{
    font-size: 65%;
  }
}
@media (max-width: 539px) and (min-width: 465px) {
  .test{
    width: 59%;
    margin: auto;
    height:9rem;
  }
  #logo{
    width: 50%;
  }
  .test h1 a{
    font-size: 65%;
  }
}
@media (max-width: 599px) and (min-width: 539px) {
  .test{
    width: 52%;
    margin: auto;
    height:9rem;
  }
  #logo{
    width: 45%;
  }
  .test h1 a{
    font-size: 65%;
  }
}
@media (max-width: 810px) and (min-width: 600px) {
  .test{
    width: 40%;
    height:6rem;
  }
  #logo{
    width: 40%;
  }
  .test h1 a{
    font-size: 60%;
  }
}
@media (max-width: 880px) and (min-width: 810px) {
  .test{
    width: 30%;
    height:6rem;
  }
  #logo{
    width: 40%;
  }
  .test h1 a{
    font-size: 60%;
  }
}
@media (max-width: 1024px) and (min-width: 881px) {
  .test{
    width: 45%;
    height:7.7rem;
  }
  #logo{
    width: 40%;
  }
  .test h1 a{
    font-size: 65%;
  }
}
@media (max-width: 1141px) and (min-width: 1024px) {
  .test{
    width: 34%;
    height:8rem;
  }
  #logo{
    width: 30%;
  }
  .test h1 a{
    font-size: 65%;
  }
}
@media (max-width:1200px) and (min-width: 1142px) {
  .test{
    width: 35%;
    height:9rem;
  }
  #logo{
    width: 30%;
  }
  .test h1 a{
    font-size: 65%;
  }
}
@media (max-width:1264px) and (min-width: 1200px) {
  .test{
    width: 30%;
    height:9rem;
  }
  #logo{
    width: 30%;
  }
  .test h1 a{
    font-size: 65%;
  }
}
@media (max-width: 1500px) and (min-width: 1265px) {
  .test{
    width: 30%;
    height:10rem;
  }
  .test h1 a{
    font-size: 65%;
  }
}
@media (max-width:1700px) and (min-width: 1500px) {
  .test{
    width: 35%;
    height:11.5rem;
  }
  .test h1 a{
    font-size: 95%;
  }
}
@media (max-width:1865px) and (min-width: 1701px) {
  .test{
    width: 30%;
    height:12.5rem;
  }
  .test h1 a{
    font-size: 100%;
  }
}
@media (max-width:2100px) and (min-width: 1865px) {
  .test{
    width: 30%;
    height:13.5rem;
  }
  .test h1 a{
    font-size: 100%;
  }
}
@media (max-width:2340px) and (min-width: 2100px) {
  .test{
    width: 35%;
    height:15.5rem;
  }
  .test h1 a{
    font-size: 120%;
  }
}
@media  (min-width: 2340px) {
  .test{
    width: 31%;
    height:18rem;
  }
  .test h1 a{
    font-size: 150%;
  }
}
.central{
  background-color: #fff;
  margin-bottom: 2%;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5%;
  padding-bottom: 2%;
}
.central h2{

  text-align: center;
  padding-bottom: 2%;
  padding-top: 4%;
}
.central p{
  padding: 2%;
  text-align: center;
  line-height: 150%;
}
.central ol{
  padding: 6%;
  align-items: center;
  text-align: center;
  line-height: 150%;
  margin: 3%;
}
.central ul{
  padding: 6%;
  align-items: center;
  text-align: center;
  line-height: 150%;
}
.central img{
  margin-left: 6%;
}
.loguin{
  padding-top: 3%;


}
.algo{

  margin-bottom: 10%;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
}
.resultadoTest{
  list-style: none;
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.resultadoTest li{

  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.pago{
  display: flex;
  padding-top: 6%;
  align-items: center;
}
.aut{
  width: 90%;
  border-radius: 1%;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.who{
  background-color:#fff;
  padding:2%;
  border: 1px solid #fff;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);


}
.descarga{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
}
.divTabla img{
  margin-top: 3%;
  width: 90%;
}
.warning{
  border: solid 1px red;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  border-radius: 1%;
}
.warning p{
  color: red;

}
.doing p{
  border: solid 1px black;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  border-radius: 1%;
}

.warning p a{
  color:red;
}
.check{
  display: flex;
  flex-direction: row;
}

.who h2{
  margin-bottom: 6%;
}
.who h3{
  margin-bottom: 13%;
  margin-top: 13%;
}
.who img{
  height: 100%;
}
.aut{
  padding-top: 2%;
  background-color: #58a5a3;

  border-bottom:  1px solid #fff;
}
.autp{
  padding:2%;
}
.form{
  padding: 2%;
  line-height: 200%;
}
.form label{
  padding: 2%;

}
.form button{
  margin: 2%;

}
.comoSoy a{
  text-decoration: none;

}
.central ol li{
  padding-top: 3%;
}

@media (min-width: 600px){
  header label{
    display: none;
    list-style: none;

  }
  .subnavbtn2{
    display: none;
  }
  .enlaces .a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-right: 3%;
  }
  .logo:hover .enlaces{
    display: flex;
    position: absolute;
    width: 80%;
  }
  .enlaces{
    background-color: #f2f4f3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo{
    padding-top: 0%;
    padding-right: 0%;
    width: 75%;
  }
  .subnavbtn p{
    color:#000;
    text-align: center;

  }
  #subnavbtn2{
    display: none;
  }
  section{
    display: flex;
    justify-content: space-between;
  }
  .central{
    width: 70%;

  }
  .central p{
      text-align: justify;
  }
  .central ol{
    text-align: justify;
  }
  .test h1{
    padding-top: 15%;
  }
  .who{
    width:25%;
    margin-top: 3%;
    padding: 0;
    text-align: center;
    margin-right:  0.5%;
  }
  .aut{
    text-align: justify;
    padding-left: 0%;
  }
  .check{
    width: 80%;
  }
  .base{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .medio{

  text-align: center;
  }
  .comoSoy{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }
}
#imgFinal{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.barratest{
  overflow: hidden;
}
#imgbarra{
  width: 88%;
  margin-left: 6%;
}
.descubri{
  width: fit-content;
  margin: auto;
}
.algo1{
  text-align: center;
  margin-bottom: 10%;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
}
.comoSoy{
  text-align: center;
}
.botonf{
  transition-duration: 0.4s;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: bold;
  border-color: black;
  border-radius: 8px;
}
.botonf:hover {
  background-color: black; /* Green */
  color: white;
}
.resultadoenea{
  color:black;
  font-weight:bold;
}
/* Autoras */
@media (min-width:320px) and (max-width:425px) {
  .aut{
    padding-left:0;
  }
  .autp{
    width: 100%;
  }
}
.autoras{
  width: fit-content;
  margin: auto;
}
@media (min-width:1024px) {
  #imgaut{
    width: 40%;
    margin-left: 30%;
  }
}
#imgpago{
  border-style: double;
  border-color: black;
}
.botonpago{
  width: fit-content;
    margin: auto;
    padding-top: 2%;
}
/* Final Autoras */

.contenedor_pregunta{
  overflow: hidden;
}
.chek{
  width: 100%;
}
